{% extends "bootstrap_layout.html" %}

{% block content %}

    <h2>Weather Forecast for {{ results["city_name"] }}</h2>

    <p>Zip Code: {{ zip_code }}</p>

    <table class="table table-sm">
        <thead>
          <tr class="table-primary">
            <th scope="col">Time</th>
            <th scope="col">Temperature</th>
            <th scope="col">Weather Overview</th>
            <th scope="col">Icon</th>
          </tr>
        </thead>
        <tbody>
          {% for forecast in results["hourly_forecasts"] %}
            <tr>
              <td>{{ forecast["timestamp"] }}</td>
              <td>{{ forecast["temp"] }}</td>
              <td>{{ forecast["conditions"].upper() }}</td>
              <td>
                <img src="{{ forecast['image_url'] }}" alt="weather Icon"></img>
              </td>
            {% endfor %}
            </tr>
        </tbody>
      </table>
      
{% endblock %}